// keep global styles here
:root {
  --badge-size: 110px;
  --badge-offset: 35px;

  @media screen and (max-width: $screen-sm) {
    --badge-size: 80px;
    --badge-offset: 15px;
  }
}


body {
  margin: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $gray-dark;
}

.down-arrow {
  width: 14px;
  height: 14px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
}

.page-wrapper {
  padding: 200px 0 100px;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: $screen-sm) {
    padding: 60px 0;
  }

  @media screen and (max-width: $screen-xs) {
    padding: 40px 0;
  }
}

section {
  max-width: $container-xl;
  width: 90%;
  margin: 0 auto 100px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.white-hover-link {
  position: relative;
  transition: color .25s;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: width .25s ease-out;
    z-index: -1;
  }

  &:hover {
    color: $accent !important;
    transition: color .25s;

    &:before {
      width: 100%;
      transition: width .25s ease-out;
    }
  }
}

.the-knot-link {
  width: var(--badge-size);
  height: var(--badge-size);
  display: block;

  img {
    width: 100%;
    height: auto;
  }
}