// keep global styles here
body {
	margin: 0;
}

.page-wrapper {
	max-width: 1440px;
	width: 90%;
	margin: 0 auto;
	padding: 100px 0;

	@media screen and (max-width: $screen-xs) {
		padding: 40px 0;
	}
}

#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #222;
}