h1, h2, h3, h4, h5 {
	// font-family: 'Playfair', serif;
	font-family: 'Dancing Script', cursive;
	font-weight: 300;
	margin-top: 0;
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 48px;

	@media screen and (max-width: $screen-sm) {
		font-size: 32px;
	}
}

h2 {
	font-size: 36px;

	@media screen and (max-width: $screen-sm) {
		font-size: 32px;
	}
}

p {
	line-height: 1.6;
	font-size: 19px;

	@media screen and (max-width: $screen-sm) {
		font-size: 17px;
	}
}

a {
	color: $gray-dark;
	text-decoration: none;
	transition: color .3s;

	&:hover {
		color: $accent;
		transition: color .3s;
	}
}

ol, ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	
	li {
		margin-bottom: 10px;
	}
}

.subtitle {
	margin: 10px 0 0;
}